/* Basic Components, Don't Showcase in video */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  overflow: hidden;

  background-color: #031527;
}

.container {
  height: 400px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  background-color: #686d76;

  /*Put Relative In Container After getting to position:absolute at container::after*/

  position: relative;
}

.container img {
  width: 50%;
  aspect-ratio: 1;
}

/* Video Components From Here */

@property --degree {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.container::after,
.container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  /*Padding will give the size of the border*/
  padding: 5px;
  border-radius: 10px;
  /*Conic gradient is clockwise transition for 2 colours; Add the same first and last color for smooth transition*/
  background-image: conic-gradient(
    from var(--degree),
    #ff8225,
    #ff0000,
    #df2020,
    #cfca35,
    #ff8225
  );
  animation: 2s spin-around linear infinite;
}

.container::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin-around {
  from {
    --degree: 0deg;
  }
  to {
    --degree: 360deg;
  }
}
